@page "/fetchdata"

<PageTitle>Leaderboard</PageTitle>

@using Leaderboard.Data

@inject NavigationManager navManager

@*<link rel="stylesheet" href="./style.css"/>*@

<h1>Leaderboard</h1>


@if (leaderboardList == null)
{
    <p><em>Loading database...</em></p>
}
else
{
@*    <p>Create new player</p>
    <div>
        <input type="text" @bind="@PlayerName" @oninput="OnPlayerEvent" class="login__input" placeholder="Playername">
        <input type="text" @bind="@Highscore" @oninput="OnHighscoreEvent" class="login__input" placeholder="Playername">
    </div>*@
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Playername</th>
                <th>Highscore</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HighscoreItem item in leaderboardList)
            {
                <tr>
                    <td>@item.Id <button @onclick="() => Delete(item.Id, item.Playername)">Delete</button></td>
                    <td>@item.Playername</td>
                    <td>@item.Highscore</td>
                    <button @onclick="Update">Update</button>
                </tr>
            }
            <tr>
                <td><button @onclick="AddItem">+</button></td>
                <td><input @bind="highscoreItem.Playername" /></td>
                <td><input @bind="highscoreItem.Highscore" /></td>
            </tr>
        </tbody>          
    </table>
}

@code {


    HighscoreItem highscoreItem = new HighscoreItem();
    List<HighscoreItem> leaderboardList = new SQL().ReadLeaderboard();



    void AddItem()
    {
        new SQL().CreatePlayer(highscoreItem);
        leaderboardList = new SQL().ReadLeaderboard();
    }

    void Delete(int Id, string playername)
    {
        //var f = new DeletePlayer();
        //f.GatherPLayerInfo(Id, playername);
        DTO.Id = Id;
        DTO.Playername = playername;
        navManager.NavigateTo("/deleteplayer/");

    }

    void Update()
    {
        
    }

    //private string PlayerName = "";
    //private void OnPlayerEvent(ChangeEventArgs changeEvent)
    //{
    //    PlayerName = (string)changeEvent.Value;
    //}
    //private string Highscore = "";
    //private void OnHighscoreEvent(ChangeEventArgs changeEvent)
    //{
    //    Highscore = (string)changeEvent.Value;
    //}

}
